.menu div {
  background: #ffffff;
  border-radius: 14px;
  padding: 1rem;
  cursor: pointer;
}

.menu div:hover {
  color: #00eaa0;
}

.menu div:active {
  animation: blink-effect 0.1s step-end infinite;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

input[type="file"] {
  display: none;
}
