/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/styles.scss ***!
  \***************************************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu div {
  background: #ffffff;
  border-radius: 0.85rem;
  padding: 1rem;
  cursor: pointer;
}
.menu div:hover {
  color: #00eaa0;
}
.menu div:active {
  animation: blink-effect 0.1s step-end infinite;
}
.menu div label {
  cursor: inherit;
}
.menu div label input[type=file] {
  display: none;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.tool section {
  display: flex;
  justify-content: space-evenly;
}
.tool section:first-child {
  flex-grow: 0.7;
}
.tool section:nth-child(2) {
  flex-grow: 1.4;
}
.tool section:last-child {
  flex-grow: 0.5;
}
.tool section:not(:last-child) {
  border-right: 0.5px solid #b1b1b1;
}
.tool section div {
  cursor: pointer;
}
.tool section div i:hover:not(.fa-palette) {
  color: #00eaa0;
}
.tool section div input[type=range] {
  cursor: inherit;
}

.modal {
  position: absolute;
  z-index: 1;
  font-weight: 200;
}
.modal.modal-message {
  margin-top: 9.2rem;
  padding: 0.7rem 1.2rem;
  font-size: 1.3rem;
  font-family: none;
  border-radius: 0.9em;
  background: #00eaa0;
  color: #000;
  animation: showMsg 3.5s cubic-bezier(0.88, 0, 0.88, 0) 2 alternate-reverse forwards;
}
.modal.modal-tooltip {
  opacity: 0.6;
  padding: 0.3rem 0.5rem;
  margin-right: 5.7rem;
}
.modal.modal-variable {
  padding: 0 0.7rem 0 2.5rem;
  height: 2rem;
  font-weight: 800;
}
.modal.modal-variable input[type=range]:before {
  content: attr(data-before);
  color: #fff;
  margin-left: -2rem;
  vertical-align: -webkit-baseline-middle;
  font-weight: 800;
}
.modal.modal-variable, .modal.modal-tooltip {
  border-radius: 0.4em;
  font-size: 0.8rem;
  margin-top: 2.8rem;
  background: #313435;
  color: #fff;
}
.modal.modal-variable:after, .modal.modal-tooltip:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  margin-left: -0.6rem;
  z-index: 1;
  top: 0;
  margin-top: -0.6rem;
  border-top: 0;
  border-bottom-color: #313435;
}

.controls__colors {
  display: flex;
}
.controls__colors .controls__color {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-left: 0.1rem;
}
.controls__colors .controls__color:not(:last-child) {
  margin-right: 0.1rem;
}
.controls__colors .clicked {
  transform: scale(1.5);
  margin: 0 0.4rem !important;
}

.hidden {
  display: none;
}

.showing {
  display: flex;
}

@keyframes showMsg {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}
aside {
  border-radius: 14px;
  font-size: 1.4rem;
  display: flex;
}

.menu {
  width: 12rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.tool {
  background: #ffffff;
  width: 33rem;
  padding: 1rem 0.5rem;
  margin-bottom: 3rem;
  justify-content: space-between;
}

body {
  background-color: #f3f4f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
