@import "./menu";
@import "./tools";

aside {
  border-radius: 14px;
  font-size: 1.4rem;
  display: flex;
}

.menu {
  width: 12rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.tool {
  background: #ffffff;
  width: 33rem;
  padding: 1rem 0.5rem;
  margin-bottom: 3rem;
  justify-content: space-between;
}
