.tool section {
  display: flex;
  justify-content: space-evenly;

  &:first-child {
    /* flex-grow: 1; */
    flex-grow: 0.8;
  }

  &:nth-child(2) {
    /* flex-grow: 1.5; */
    flex-grow: 1;
  }

  &:last-child {
    flex-grow: 0.5;
  }

  &:not(:last-child) {
    border-right: 0.5px solid #b1b1b1;
  }

  div i:hover:not(.fa-palette) {
    color: $mainColor;
  }
}

.set-variable {
  position: absolute;
  margin-top: 2.2rem;
  padding: 0 0.7rem 0 2.5rem;
  color: #fff;
  background: #313435;
  border-radius: 0.4em;
  font-size: 0.8rem;
  font-weight: 800;
  height: 2rem;
  z-index: 1;
  transition-property: display;
  transition-delay: 2s;
  transition-duration: 1s;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.6rem solid transparent;
    border-bottom-color: #313435;
    border-top: 0;
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    z-index: 1;
  }

  input[type="range"]:before {
    content: attr(data-before);
    color: #fff;
    margin-left: -2rem;
    vertical-align: -webkit-baseline-middle;
    font-weight: 800;
  }
}

.controls__colors {
  display: flex;

  .controls__color {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-left: 0.1rem;

    &:not(:last-child) {
      margin-right: 0.1rem;
    }
  }

  .clicked {
    transform: scale(1.5);
    margin: 0 0.4rem !important;
  }
}

.hidden {
  display: none;
}

.showing {
  display: flex;
}
