.tool section {
  display: flex;
  justify-content: space-evenly;

  &:first-child {
    flex-grow: 0.7;
  }

  &:nth-child(2) {
    flex-grow: 1.4;
  }

  &:last-child {
    flex-grow: 0.5;
  }

  &:not(:last-child) {
    border-right: 0.5px solid #b1b1b1;
  }

  div {
    cursor: pointer;

    i:hover:not(.fa-palette) {
      color: $mainColor;
    }

    input[type="range"] {
      cursor: inherit;
    }
  }
}

.modal {
  position: absolute;
  z-index: 1;
  font-weight: 200;

  &.modal-message {
    margin-top: 9.2rem;
    padding: 0.7rem 1.2rem;
    font-size: 1.3rem;
    font-family: none;
    border-radius: 0.9em;
    background: $mainColor;
    color: #000;
    animation: showMsg 3.5s cubic-bezier(0.88, 0, 0.88, 0) 2 alternate-reverse
      forwards;
  }

  &.modal-tooltip {
    opacity: 0.6;
    padding: 0.3rem 0.5rem;
    margin-right: 5.7rem;
  }

  &.modal-variable {
    padding: 0 0.7rem 0 2.5rem;
    height: 2rem;
    font-weight: 800;

    input[type="range"]:before {
      content: attr(data-before);
      color: #fff;
      margin-left: -2rem;
      vertical-align: -webkit-baseline-middle;
      font-weight: 800;
    }
  }

  &.modal-variable,
  &.modal-tooltip {
    border-radius: 0.4em;
    font-size: 0.8rem;
    margin-top: 2.8rem;
    background: $modalBGColor;
    color: #fff;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      height: 0;
      border: 0.6rem solid transparent;
      margin-left: -0.6rem;
      z-index: 1;
      top: 0;
      margin-top: -0.6rem;
      border-top: 0;
      border-bottom-color: $modalBGColor;
    }
  }
}

.controls__colors {
  display: flex;

  .controls__color {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-left: 0.1rem;

    &:not(:last-child) {
      margin-right: 0.1rem;
    }
  }

  .clicked {
    transform: scale(1.5);
    margin: 0 0.4rem !important;
  }
}

.hidden {
  display: none;
}

.showing {
  display: flex;
}

@keyframes showMsg {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}
